[req]
default_bits = 4096
prompt = no
default_md = sha256
req_extensions = v3_req
distinguished_name = dn

[ca]
default_ca=ca_pgbackrest

[ca_pgbackrest]
database=index.txt
unique_subject=no
default_md=sha256
default_crl_days=99999

[ dn ]
C=US
ST=All
L=All
O=pgBackRest
OU=Unit Testing Domain
CN = test.pgbackrest.org

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
# Used in container unit tests
DNS.1 = test.pgbackrest.org
DNS.2 = *.test.pgbackrest.org
DNS.3 = *.test2.pgbackrest.org

# Used in non-container unit tests
DNS.4 = 127.0.0.1
IP.1 = 127.0.0.1

# Used in integration tests
DNS.5 = db-primary
DNS.6 = db-standby
DNS.7 = backup

# Used in documentation
# !!! REMOVE ONCE DOCS BUILD THEIR OWN CERTS
DNS.5 = pg-primary
DNS.6 = pg-standby
DNS.7 = repository
