branches:
  only:
    - master
    - integration
    - /-ci$/

dist: trusty
sudo: required
group: deprecated-2017Q2

language: c

services:
  - docker

env:
  - PGB_CI="--vm=co6 test"
  - PGB_CI="--vm=u16 test"
  - PGB_CI="--vm=co7 test"
  - PGB_CI="--vm=u12 test"
  - PGB_CI="doc"

before_install:
  - sudo apt-get -qq update && sudo apt-get install libxml-checker-perl libdbd-pg-perl libperl-critic-perl libtemplate-perl libpod-coverage-perl libtest-differences-perl libhtml-parser-perl lintian debhelper txt2man devscripts libjson-perl libio-socket-ssl-perl libxml-libxml-perl python-pip
  - |
    # Install & Configure AWS CLI
    pip install --upgrade --user awscli
    aws configure set region us-east-1
    aws configure set aws_access_key_id accessKey1
    aws configure set aws_secret_access_key verySecretKey1
    aws help --version
    aws configure list
  - |
    # Install Devel::Cover
    sudo dpkg -i ${TRAVIS_BUILD_DIR?}/test/package/u14-libdevel-cover-perl_1.23-2_amd64.deb
    /usr/bin/cover -v

install:
  - |
    # User Configuration
    sudo adduser --ingroup=${USER?} --disabled-password --gecos "" backrest
    umask 0022
    cd ~ && pwd && whoami && umask && groups
    mv ${TRAVIS_BUILD_DIR?} pgbackrest
    rm -rf ${TRAVIS_BUILD_DIR?}

script:
  - pgbackrest/test/travis.pl ${PGB_CI?}
