/*******************************************************************************
Html and body
*******************************************************************************/
html
{
    background-color: #F8F8F8;
    font-family: Avenir, Corbel, sans-serif;
    font-size: medium;
    margin-top: 8px;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
}

body
{
    margin: 0px auto;
    padding: 0px;
    width: 100%;
}

@media (min-width: 1000px)
{
    body
    {
        width: 1000px;
    }
}

/*******************************************************************************
Web fonts
*******************************************************************************/
@font-face
{
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: 400;
    src: local('Alfa Slab One'),
         local('AlfaSlabOne-Regular'),
         url(font/alpha_slab_one.woff)
         format('woff');
}

/*******************************************************************************
Link default styling
*******************************************************************************/
a:link
{
    text-decoration: none;
    color: black;
}

a:visited 
{
    text-decoration: none;
    color: black;
}

a:hover
{
    text-decoration: underline;
    color: black;
}

a:active
{
    text-decoration: none;
    color: black;
}

/*******************************************************************************
Header
*******************************************************************************/
.header
{
    width:100%;
    text-align:center;
    float:left;
}

.header-title
{
    font-size: 28pt;
    font-weight: bolder;
    
/*    font-family: 'Alfa Slab One', cursive;
*/}

.header-subtitle
{
    position: relative;
    top: -.25em;
    font-size: larger;
    font-weight: bold;
}

/*******************************************************************************
Menu
*******************************************************************************/
.menu-set
{
    text-align: center;
    font-weight: 600;
    border-bottom: 2px #dddddd solid;
}

.menu-first, .menu
{
    white-space: nowrap;
    display: inline;
}

.menu
{
    margin-left: 6px;
}

.menu-link
{
    margin-left: 2px;
    margin-right: 2px;
}

/*******************************************************************************
Content
*******************************************************************************/
doc-content
{
    width: 100%;
}

/*******************************************************************************
Section
*******************************************************************************/
doc-install, doc-configure, doc-intro
{
	display:block;
    margin-top: 8px;
}

doc-install-header, doc-configure-header
{
	display:block;
    background-color: #dddddd;
    font-size: 14pt;
    padding-left: 4px;
	margin-bottom: 4px;
}

/*******************************************************************************
SubSection
*******************************************************************************/
doc-configure-section
{
	display:block;
    margin-top: 8px;
}

doc-configure-section-header
{
	display:block;
	border-bottom: 2px #cccccc solid;
	font-size: large;
	font-weight: 500;
	margin-bottom: 4px;
}

/*******************************************************************************
SubSection2
*******************************************************************************/
doc-configure-key
{
	display:block;
    width:100%;
    margin-top: 8px;
    float: left;
}

doc-configure-key-header
{
	display:block;
    font-size: medium;
    font-weight: 500;
    border-bottom: 1px #dddddd solid;
    margin-bottom: 4px;
}

/*******************************************************************************
Fields
*******************************************************************************/
doc-id
{
    font-family: Courier, sans-serif;
}

doc-code, doc-codeblock
{
    font-family: Courier, sans-serif;
    background-color: #f1f1f1;
}

doc-codeblock
{
    margin: 8px;
    padding: 8px;
	display:block;
}