/*******************************************************************************
Html and body
*******************************************************************************/
html
{
    background-color: #f8f8f8;
    font-family: Avenir, Corbel, sans-serif;
    font-size: 12pt;
    margin-top: 8px;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
}

body
{
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    text-align: justify;
}

@media (min-width: 1000px)
{
    body
    {
        width: 1000px;
    }
}

/*******************************************************************************
Link default styling
*******************************************************************************/
a:link, a:visited, a:hover, a:active
{
    text-decoration: underline;
    color: black;
}

/*******************************************************************************
Header
*******************************************************************************/
.page-header
{
    width:100%;
    text-align:center;
}

.page-header-title
{
    font-size: xx-large;
    font-weight: bolder;
}

.page-header-subtitle
{
    position: relative;
    top: -.25em;
    font-size: large;
    font-weight: bold;
}

/*******************************************************************************
Menu
*******************************************************************************/
/*.page-menu*/

.menu-body
{
    text-align: center;
}

.menu
{
    white-space: nowrap;
    display: inline;
    margin-left: .5em;
    font-size: 13pt;
}

.menu:first-of-type
{
    margin-left: 0px;
}

.menu:before
{
    content: "[";
}

.menu:after
{
    content: "]";
}

/*.menu-link*/

a.menu-link:link, a.menu-link:visited, a.menu-link:active
{
    text-decoration: none;
}

a.menu-link:hover
{
    text-decoration: underline;
}

/*******************************************************************************
Table of Contents
*******************************************************************************/
.page-toc-body
{
    margin-top: .25em;
    margin-bottom: 2em;
}

.section1-toc:first-of-type
{
    margin-top: 0;
}

.section1-toc
{
    margin-top: .5em;
}

.section1-toc-title
{
    /*margin-top: .25em;*/
    font-size: 14pt;
}

.section2-toc-title
{
    font-size: 12pt;
    margin-left: 2em;
}

.section3-toc-title
{
    margin-left: 4em;
}

/*******************************************************************************
Section
*******************************************************************************/
.section1
{
    margin-top: 2.5em;
}

.section1:first-of-type
{
    margin-top: 1em;
}

.section2, .section3
{
    margin-top: 1em;
}

.section1-title, .section2-title, .section3-title, .page-toc-title
{
    margin-top: .5em;
    font-weight: 500;
}

.section1-title, .page-toc-title
{
    border-radius: 3px;
    background-color: #396a93;
    color: #f8f8f8;
    font-size: 22pt;
    padding-left: .5em;
    margin-bottom: .5em;
}

.section2
{
    margin-top: 1em;
}

.section2-title
{
    border-bottom: 2px #396a93 solid;
    color: #396a93;
    font-size: 16pt;
}

.section3
{
    margin-left: 1em;
    margin-top: 1em;
}

.section3:first-of-type
{
    border-top: none;
}

.section3-title
{
    display: inline;
    font-size: 14pt;
    color: #396a93;
    border-bottom: 1px #396a93 solid;
}

.section-intro
{
    margin-top: .75em;
}

/*.section-body*/

/*******************************************************************************
Config, Execute, and Code Block Elements
*******************************************************************************/
.section-body-text
{
    margin-top: 1em;
}

.section-body-text:first-of-type
{
    margin-top: .75em;
}

.execute,
.config,
.code-block
{
    /*white-space: nowrap;*/
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .8em;
    margin-bottom: 1em;
}

.execute-title,
.config-title
{
    font-size: 11pt;
    margin-bottom: .125em;
}

.execute-body,
.config-body,
.code-block
{
    border-radius: 3px;
    background-color: #444444;
    font-family: monospace;
    unicode-bidi: embed;
    color: #f8f8f8;
    /*color: white;*/
    font-size: 10pt;
}

.execute-body-cmd,
.execute-body-output, .execute-body-output-highlight,
.config-body-title,
.code-block
{
    padding-left: .5em;
    padding-right: .5em;
}

/* Would rather not use pre at all, but Firefox won't copy code samples correctly without it */
pre
{
    margin: 0px;
    padding: 0px;
    white-space: pre-wrap;
}

.execute-body-cmd:before
{
    content: "$ ";
}

.execute-body-cmd:first-of-type, .execute-body-output,
.config-body-title, .config-body-output,
.code-block,
.execute-body-output-highlight, .execute-body-output-highlight-error
{
    padding-top: .25em;
}

.execute-body-cmd, .execute-body-output,
.config-body-title, .config-body-output,
.code-block,
.execute-body-output-highlight, .execute-body-output-highlight-error
{
    padding-bottom: .25em;
}

.execute-body-output,
.config-body-output,
.code-block
{
    border-radius: 3px;
    background-color: #606060;
}

.execute-body-output-highlight
{
    border-radius: 3px;
    background-color: #1e7b1e;
}

.execute-body-output-highlight-error
{
    border-radius: 3px;
    background-color: #a32929;
}

.execute-body-output, .execute-body-output-highlight, .execute-body-output-highlight-error,
.config-body-output
{
    padding-left: 1.75em;
}

/*.code-block*/

/*.section-body-execute-output*/

/*******************************************************************************
Keywords
*******************************************************************************/
.backrest, .cmd, .postgres
{
    font-weight: 500;
}

.host
{
    font-weight: 700;
}

.path, .br-option, .br-setting, .pg-option, .pg-setting, .id, .user, .file, .path
{
    unicode-bidi: embed;
    font-family: monospace;
    white-space: nowrap;
}

/*******************************************************************************
Footer
*******************************************************************************/
.page-footer
{
    border-top: 2px #cccccc solid;
    margin-top: 1em;
    padding-top: .25em;
    font-size: x-small;
    white-space: nowrap;
    text-align: center;
}
