# Configuration documentation at https://github.com/dessant/lock-threads

name: 'lock-thread'

on:
  schedule:
    - cron: '37 7 * * 0'
  workflow_dispatch:

permissions:
  issues: write

concurrency:
  group: lock

jobs:
  action:
    runs-on: ubuntu-latest
    steps:
      - uses: dessant/lock-threads@v3
        with:
          issue-inactive-days: '90'
          issue-comment: ''
          issue-lock-reason: ''
          pr-inactive-days: '90'
          pr-comment: ''
          pr-lock-reason: ''
          log-output: true
